/* @font-face {
    font-family: 'Note-Script-Medium';
    src: url('./Note-Script-Medium-2.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./Inter.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
} */